baseURL: "https://drtbz.com/"
title: "This is fine \U0001F525" #This is the tab title for the page and also goes in the footer
paginate: 5
theme: [github.com/adityatelange/hugo-PaperMod]

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: "G-3SNSLECMPF"

minify:
    disableXML: true
    minifyOutput: true

sitemap:
  changefreq: daily
  filename: sitemap.xml
  priority: 0.5

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    csp:
        childsrc: [self]
        fontsrc: [self]
        formaction: [self]
        framesrc: [self]
        imgsrc: [self]
        objectsrc: [none]
        stylesrc: [self]
        scriptsrc: [self]
    title:  drtbz | Tom Bailey # This is some kind of metadata field
    description: "Mucking around with Hugo, Github and Actions"
    keywords: [Blog, Portfolio, Tom Bailey, drtbz, cloud, coffee, automation]
    author: Tom Bailey
    # author: ["Me", "You"] # multiple authors
    images: [""]
    DateFormat: "January 2, 2006"
    defaultTheme: auto # dark, light
    disableThemeToggle: false

    ShowReadingTime: true
    ShowShareButtons: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: false
    disableSpecial1stPost: false
    disableScrollToTop: false
    comments: false
    hidemeta: false
    hideSummary: false
    showtoc: false
    tocopen: false

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        # favicon: "<link / abs url>"
        # favicon16x16: "<link / abs url>"
        # favicon32x32: "<link / abs url>"
        # apple_touch_icon: "<link / abs url>"
        # safari_pinned_tab: "<link / abs url>"

    label:
        text: "Home"
        icon: "/images/icon.png" #this is the logo in the top left corner
        iconHeight: 35

    # profile-mode
    profileMode:
        enabled: true # needs to be explicitly set
        title: drtbz | Tom Bailey
        subtitle: "Mucking around with Hugo, Github and Actions"
        imageUrl: "images/berk.jpg"
        imageWidth: 120
        imageHeight: 120
        imageTitle: my image
        buttons:
            - name: Posts
              url: posts
            - name: Tags
              url: tags

    # home-info mode
    homeInfoParams:
        Title: "This is fine \U0001F525"
        Content: Welcome to my blog

    socialIcons:
        - name: github
          url: "https://github.com/drtbz"

    analytics:
        google:
            SiteVerificationTag: ""
        bing:
            SiteVerificationTag: ""
        yandex:
            SiteVerificationTag: ""

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    editPost:
        URL: "https://github.com/drtbz/drtbz.github.io/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - identifier: posts
          name: posts
          url: /posts/
          weight: 10
        - identifier: categories
          name: categories
          url: /categories/
          weight: 20
        - identifier: tags
          name: tags
          url: /tags/
          weight: 30
        - identifier: drtbz
          name: drtbz.com
          url: https://drtbz.com/
          weight: 40
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
# pygmentsUseClasses: true
# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         style: monokai
